app-header {
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #232323;
    color: #fff;
    height: 3rem;
    z-index: 999;
    box-shadow: 1px 1px 5px #232323;
}

app-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    box-shadow: 1px 1px 5px #232323;
    color: #fff;
    padding: .25rem;
    text-align: center;
    z-index: 999;
}

mat-drawer-container {
    position: fixed;
    padding-top: 3.05rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

mat-drawer {
    width: 15rem;
    border: 1px solid #97979788;
    padding-top: 3rem;
    background-color: #cfd3d6;
}

.button-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}