<div *ngIf="isLoggedIn()">
    <app-header>
    </app-header>

    <mat-drawer-container autosize>
        <mat-drawer #drawer mode="side">
            <app-menu>
            </app-menu>
        </mat-drawer>

        <div class="button-menu">
            <button type="button" (click)="drawer.toggle()" mat-icon-button>
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <router-outlet>
        </router-outlet>
    </mat-drawer-container>

    <app-footer>
    </app-footer>
</div>

<div *ngIf="!isLoggedIn()">
    <router-outlet>
    </router-outlet>
</div>