.container_servico {
    top: 8rem;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container_servico>.search-servico {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}