<mat-card>
    <mat-dialog-content class="mat-typography">
        <h2 *ngIf="this.data == null">CADASTRAR SERVIÇO</h2>
        <h2 *ngIf="this.data !== null">ALTERAR SERVIÇO #{{ this.data.idServico }}</h2>
        <hr>
        <form #f="ngForm" (ngSubmit)="Servico(f)" noValidate>
            <table class="row g-2 w-100" cellspacing="0">
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-label>Descrição</mat-label>
                        <input matInput ngModel="{{ this.data ? this.data.descricao: '' }}" id="descricao"
                            name="descricao">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-label>Tipo</mat-label>
                        <mat-select id="tipo" name="tipo" ngModel="{{ this.data ? this.data.tipo: 0 }}">
                            <mat-option value="1">tipo 1</mat-option>
                            <mat-option value="2">tipo 2</mat-option>
                            <mat-option value="3">tipo 3</mat-option>
                            <!-- @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              } -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-label>Valor</mat-label>
                        <input matInput ngModel="{{ this.data ? this.data.valor: '' }}" id="valor" name="valor">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-label>Situação</mat-label>
                        <mat-select id="situacao" name="situacao" ngModel="{{ this.data ? this.data.situacao: true }}">
                            <mat-option value="true">ATIVO</mat-option>
                            <mat-option value="false">INATIVO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-100 text-end">
                    <button mat-raised-button color="primary" class="m-1" *ngIf="this.data == null">Inserir</button>
                    <button mat-raised-button color="primary" class="m-1" *ngIf="this.data !== null">Alterar</button>
                    <button mat-raised-button mat-dialog-close color="warn" class="m-1">Voltar</button>
                </div>
            </table>
        </form>
    </mat-dialog-content>
</mat-card>
