.menu_sub-menu {
    position: fixed;
    width: 100%;
    z-index: 998;
    background-color: #fff;
    padding: .25rem;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.63);
}

.menu_sub-menu>h3 {
    margin-left: 3rem;
    margin-top: .5rem;
}
