<app-home></app-home>
<div class="container_funcionarios">
    <div class="menu_funcionarios">
        <h3><small><i class="fa-solid fa-share"> </i></small> FUNCIONÁRIOS</h3>
        <div class="actions">
            <small><a href="" class="nav-link"><i class="fa-solid fa-plus"></i> <span>Inserir</span></a></small>
            <small><a href="" class="nav-link"><i class="fa-solid fa-print"> </i> <span>Imprimir</span> </a></small>
        </div>
    </div>
    <hr>
    <div class="content_funcionarios">
        <input type="text" class="form-control form-control-sm">
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Administrador</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>ADMINISTRADOR</td>
                    <td>admin</td>
                    <td>Sim</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
