.container_funcionarios {
    top: 8rem;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container_funcionarios>.search-funcionarios {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
