.containerPage>.searchPage {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.resultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .5rem;
}