<app-sub-menu titlePage="{{title}}"></app-sub-menu>


<div class="accordion containerPage" id="accordionPanelsStayOpenExample">
    <h2><i class="fa-solid fa-chart-pie"></i> DASHBOARD</h2>
    <hr>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsDay" aria-expanded="true" aria-controls="panelsDay">
              <i class="fa-solid fa-calendar-days"></i> &nbsp; Geral (Diário)
      </button>
        </h2>
        <div id="panelsDay" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="container">
                    <div class="m-2 p-2">
                        <h3 class="text-center"><small>ORDEM DE SERVIÇO</small></h3>
                        <hr>
                        <div class="content">
                            <pre class="border p-1 m-1 rounded">Emitidas <span>50</span> <br> &nbsp;&nbsp;<small>Em Execução <span>25</span></small></pre>
                            <pre class="border p-1 m-1 rounded">Executadas <span>24</span> <br> &nbsp;&nbsp;<small>Canceladas <span>1</span></small></pre>
                        </div>
                    </div>
                    <div class="m-2 p-2">
                        <h3 class="text-center"><small>FINANÇAS</small></h3>
                        <hr>
                        <div class="content">
                            <pre class="border p-1 m-1 rounded">Ganhos R$ <span>150,00</span><br> &nbsp;&nbsp;<small>À Faturar R$ <span>15,00</span></small></pre>
                            <pre class="border p-1 m-1 rounded">Perdas R$ <span>10,00</span><br> &nbsp;&nbsp;<small>À Vencer R$ <span>35,00</span></small></pre>
                        </div>
                    </div>
                    <div class="m-2 p-2">
                        <h3 class="text-center"><small>REQUERIMENTOS</small></h3>
                        <hr>
                        <div class="content">
                            <pre class="border p-1 m-1 rounded">Requerido <span>70</span> <br> &nbsp;&nbsp;<small>OS Emitidas <span>50</span></small></pre>
                            <pre class="border p-1 m-1 rounded">Finalizados <span>12</span> <br> &nbsp;&nbsp;<small>Cancelados <span>2</span></small></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsOS" aria-expanded="true" aria-controls="panelsOS">
          <i class="fa-solid fa-screwdriver-wrench"> </i> &nbsp; Ordem de Serviço (Mensal)
  </button>
        </h2>
        <div id="panelsOS" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="container">
                    <div class="w-50">
                        <canvasjs-chart [options]="dashboardOS"></canvasjs-chart>
                    </div>
                    <div class="w-50 p-5">
                        <hr>
                        <pre class="text-dark"><b><i class="fa-solid fa-box-tissue"></i> Ordens de Serviços Emitidas:</b> 180</pre>
                        <hr>
                        <pre class="text-primary"><b><i class="fa-solid fa-truck-ramp-box"></i> Ordens de Serviços em Execução:</b> 64</pre>
                        <hr>
                        <pre class="text-success"><b><i class="fa-solid fa-clipboard-check"></i> Ordens de Serviços Executadas:</b> 103</pre>
                        <hr>
                        <pre class="text-danger"><b><i class="fa-solid fa-ban"></i> Ordens de Serviços Canceladas:</b> 13</pre>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsFinancas" aria-expanded="false" aria-controls="panelsFinancas">
          <i class="fa-solid fa-money-bill"></i> &nbsp; Finanças (Mensal)
  </button>
        </h2>
        <div id="panelsFinancas" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="container">
                    <div class="w-50">
                        <canvasjs-chart [options]="dashboardFinancas"></canvasjs-chart>
                    </div>
                    <div class="w-50 p-5">
                        <hr>
                        <pre class="text-success"><b><i class="fa-solid fa-arrow-trend-up"></i> Receitas:</b> R$ 15.241,20</pre>
                        <small><pre class="text-success"> &nbsp; &nbsp;<i class="fa-solid fa-angles-up"></i> À FATURAR: R$ 154,54</pre></small>
                        <hr>
                        <pre class="text-danger"><b><i class="fa-solid fa-arrow-trend-down"></i> Despesas:</b> R$ 2.456,45</pre>
                        <hr>
                        <pre class="text-primary"><b><i class="fa-solid fa-scale-balanced"></i> Balanço:</b> R$ 12.784,75</pre>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>