<mat-card>
  <mat-card-content class="text-center">
    <h1>Senha implantação:</h1>
    <hr>
    <code class="text-danger">Algumas informações necessárias não foram identificadas no banco de dados, <br>
      informe a senha de implantação para criar automaticamente!</code>
      <br>
	<form #f="ngForm" ngIf="first_access" (ngSubmit)="set_pass(f)" noValidate class="d-flex row justify-content-center">
	  <mat-form-field>
		<mat-label><i class="fa-solid fa-key"> </i> Senha</mat-label>
		<input ngModel matInput type="password" id="senha" name="senha">
	</mat-form-field>
	<button mat-raised-button class="w-25" color="primary">Validar</button>
  </form>
  </mat-card-content>
</mat-card>
