<form #f="ngForm" (ngSubmit)="postEmpresa(f)" noValidate>
    <table class="row g-2 w-100" cellspacing="0">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Nome Empresa</mat-label>
          <input matInput ngModel="{{Empresa.nomeEmpresa}}" id="nomeEmpresa" name="nomeEmpresa">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>CNPJ</mat-label>
          <input matInput ngModel="{{Empresa.cnpj}}" id="cnpj" name="cnpj">
          </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Data Implantação</mat-label>
                    <input matInput ngModel="{{Empresa.dtImplantacao | date:'dd/MM/YYYY'}}" id="dtImplantacao" name="dtImplantacao">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Referência</mat-label>
                    <input matInput ngModel="{{Empresa.dtRefSistema | date:'MM/YYYY'}}" id="dtRefSistema" name="dtRefSistema">
                    <mat-hint>MM/YYYY</mat-hint>
                </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Logradouro</mat-label>
                    <input matInput ngModel="{{Empresa.endereco[0]}}" placeholder="Logradouro" aria-label="Logradouro" id="logradouro" name="logradouro">
                </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Número</mat-label>
                    <input matInput ngModel="{{Empresa.endereco[1]}}" placeholder="N°" aria-label="N°" id="numero" name="numero">
                </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Bairro</mat-label>
                    <input matInput ngModel="{{Empresa.endereco[2]}}" placeholder="Bairro" aria-label="Bairro" id="bairro" name="bairro">
                </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Cidade</mat-label>
                    <input matInput ngModel="{{Empresa.cidade[0]}}" placeholder="Cidade" id="cidade" name="cidade">
                </mat-form-field>
      </div>
      <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>UF</mat-label>
                    <input matInput ngModel="{{Empresa.cidade[1]}}" placeholder="UF" id="uf" name="uf">
                </mat-form-field>
      </div>
    </table>
    <button mat-raised-button color="primary">Confirmar</button>
</form>
