<form #f="ngForm" (ngSubmit)="insertEmpresa(f)" noValidate>
    <table class="w-100" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Nome Empresa</mat-label>
                    <input matInput ngModel="{{Empresa.nomeEmpresa}}" id="nomeEmpresa" name="nomeEmpresa">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>CNPJ</mat-label>
                    <input matInput ngModel="{{Empresa.cnpj}}" id="cnpj" name="cnpj">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Data Implantação</mat-label>
                    <input matInput ngModel="{{Empresa.dtImplantacao | date:'dd/MM/YYYY'}}" id="dtImplantacao" name="dtImplantacao">
                    <!-- [matDatepicker]="picker"  -->
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Referência</mat-label>
                    <input matInput ngModel="{{Empresa.dtRefSistema | date:'MM/YYYY'}}" id="dtRefSistema" name="dtRefSistema">
                    <!-- [matDatepicker]="picker"  -->
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Logradouro</mat-label>
                    <input matInput ngModel="{{Empresa.endereco[0]}}" placeholder="Logradouro" aria-label="Logradouro" id="logradouro" name="logradouro">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Número</mat-label>
                    <input matInput ngModel="{{Empresa.endereco[1]}}" placeholder="N°" aria-label="N°" id="numero" name="numero">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Bairro</mat-label>
                    <input matInput ngModel="{{Empresa.endereco[2]}}" placeholder="Bairro" aria-label="Bairro" id="bairro" name="bairro">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>Cidade</mat-label>
                    <input matInput ngModel="{{Empresa.cidade[0]}}" placeholder="Cidade" id="cidade" name="cidade">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="w-100">
                    <mat-label>UF</mat-label>
                    <input matInput ngModel="{{Empresa.cidade[1]}}" placeholder="UF" id="uf" name="uf">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button mat-raised-button color="primary">Confirmar</button>
</form>