* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}

.containerPage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 5rem;
    padding-bottom: 1rem;
}

.paginationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .containerPage {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .containerPage {
        width: 95%;
    }
}