* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}

.containerPage {
    top: 8rem;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px rgb(200, 200, 200);
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    padding: 3rem;
}

.containerPage>.searchPage {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.resultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .5rem;
}

@media screen and (max-width: 768px) {
    .containerPage {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .containerPage {
        width: 95%;
    }
}