.container_pre-orcamento {
    top: 8rem;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container_pre-orcamento>.search-pre-orcamento {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
