form {
    z-index: 999;
    position: absolute;
    background-color: #000000dc;
    color: #fff;
    padding: 1rem 1rem 0 1rem;
    width: 20rem;
    border-radius: .5rem;
}

form>img {
    width: 10rem;
}