.photoProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.photoProfile>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 10rem;
    box-shadow: 1px 1px 5px rgb(202, 202, 202);
    border: 1px solid rgb(202, 202, 202);
}

.photoProfile>.description {
    max-width: 15rem;
    min-width: 15rem;
    min-height: 15rem;
    max-height: 15rem;
    border-radius: 10rem;
    position: absolute;
}

.description::-webkit-file-upload-button {
    visibility: hidden;
}

.photoProfile>.description::before {
    content: '';
    margin-left: 5rem;
    cursor: pointer;
}

.profile,
.alterPassword {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
}