<app-sub-menu titlePage="{{title}}"></app-sub-menu>


<mat-card class="containerPage">
    <mat-card-content>
        <form #f="ngForm">
            <a class="photoProfile">
                <img *ngIf="!previewUrl" src="../../../assets/img/profile.webp" alt="">
                <img [src]="previewUrl" *ngIf="previewUrl" alt="">
                <input class="description" type="file" (change)="onFileSelected($event)">
            </a>
            <div class="profile">
                <div class="profile-info">
                    <hr>
                    <mat-form-field class="w-100">
                        <mat-label><i class="fa-solid fa-address-card"> </i> Nome</mat-label>
                        <input matInput type="text" ngModel="{{User.nome}}" id="nome" name="nome">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label><i class="fa-solid fa-user"> </i> Nome</mat-label>
                        <input matInput type="text" ngModel="{{User.user}}" id="user" name="user">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label><i class="fa-solid fa-envelope"> </i> Nome</mat-label>
                        <input matInput type="text" ngModel="{{User.email}}" id="email" name="email">
                    </mat-form-field>
                    <button mat-raised-button color="primary">Confirmar</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="containerPage">
    <mat-card-content>
        <form #f="ngForm" class="alterPassword">
            <h5><b>Alterar Senha:</b></h5>
            <hr>
            <mat-form-field class="w-100">
                <mat-label><i class="fa-solid fa-key"> </i> Senha Atual</mat-label>
                <input matInput [type]="'password'">
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label><i class="fa-solid fa-key"> </i> Nova Senha</mat-label>
                <input matInput [type]="'password'">
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label><i class="fa-solid fa-key"> </i> Confirmar Senha Nova</mat-label>
                <input matInput [type]="'password'">
            </mat-form-field>
            <button mat-raised-button color="primary">Confirmar</button>
        </form>
    </mat-card-content>
</mat-card>