.container_taxas-servico {
    top: 8rem;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container_taxas-servico>.search-taxas-servico {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
